/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: SegoeUI;
    src: url(../fonts/segoe-ui/segoeui.ttf);
}

@font-face {
    font-family: SegoeUI Bold;
    src: url(../fonts/segoe-ui/segoeuib.ttf);
}

@font-face {
    font-family: SegoeUI Light;
    src: url(../fonts/segoe-ui/segoe-ui-light.ttf);
}

h1 {
    font-size: 1.875rem;
    font-family: SegoeUI Bold;
    margin: 0;
    color: #fff;
    letter-spacing: 1px;
    line-height: 54px;
}

h2, h3, h4, h5 {
    font-family: SegoeUI Light;
    margin: 0;
    color: #fff;
}

h2  {
    font-size: 1.875rem;
    font-weight: lighter;
}

p {
    color: #fff;
    font-size: 0.75rem;
    font-family: SegoeUI;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* HEADER */
header {
    background: url(../img/background-images/hero-bg.jpg) no-repeat;
    background-size: 100% 100%;
}

.navbar {
    background: rgba(53, 63, 70, 0.7);
    padding: 30px 0;
    align-items: center;
}


.nav-item {
    margin: 18px;
}

.nav-item a {
    color: #fff;
    font-size: 0.875rem;
    font-family: SegoeUI Bold;
}

section.hero {
    text-align: center;
    padding: 250px 0;
}

.hero h2 {
    background: rgba(53, 63, 70, 0.7);
    margin-bottom: 10px;
    font-size: 1.875rem;
    font-family: SegoeUI Light;
}

.hero h2:last-of-type {
    margin-bottom: 0;
}

/* END HEADER */

/* SERVICES SECTION */
section.services {
    background: #4bcaff;
    padding: 80px 0;
}

.services .intro {
    margin-bottom: 30px;
}

.service-item h3 {
    margin: 10px 0;
}
/* END SERVICES SECTION */


/* PORTFOLIO SECTION */
section.portfolio {
    padding: 80px 0;
}

.portfolio .intro {
    margin-bottom: 80px;
}

.portfolio .intro h2 {
    color: #515f67;
}

.filter .nav-item a {
    color: #515f67;
}

.portfolio-items {
    flex-wrap: wrap;
}

.portfolio-item {
    width: 23.5%;
    margin-bottom: 20px;
}

.portfolio-item img {
    width: 100%;
}

.portfolio-item:hover {
    background: url(../img/portfolio-thumbs/portfolio-hover.png) no-repeat;
    background-size: 100% 100%;
}
/* END PORTFOLIO SECTION */

/*  DEFAULT-SECTION SECTION */
section.default-section {
    background: #515f67;
    padding: 90px 0;
}

.default-section .intro {
    margin-bottom: 40px;
}

.default-section .text-box {
    width: 39.3%;
}

.default-section p {
    margin-bottom: 30px;
}

.default-section button {
    background: #515f67;
    border: 2px solid #353f46;
    color: #353f46;
    padding: 15px 40px;
    font-size: 0.875rem;
    font-family: SegoeUI Bold;
}
/* END DEFAULT-SECTION SECTION */


/* TWITTER SECTION */
section.twitter {
    background: #4bcaff;
    padding: 90px 0;
}

.twitter .intro {
    margin-bottom: 35px;
}

.twitter-bird  {
    width: 40px;
    align-self: center;
}

.twitter-bird img {
    width: 100%;
}

.twitter p {
    color: #fff;
    font-size: 1.75rem;
    font-family: SegoeUI Light;
    font-weight: lighter;
}
/* END TWITTER SECTION */


/* WHOIS SECTION */
section.whois {
    background: url(../img/background-images/whois-bg.jpg)no-repeat;
    background-size: 100% 100%;
    padding: 90px 0;
}

.whois .intro {
    margin-bottom: 35px;
}

.whois .text-box p {
    margin-bottom: 40px;
}
/*END WHOIS SECTION*/

/* TESTIMONIALS SECTION */
section.testimonials {
    padding: 90px 0;
}

.testimonials h2, .testimonials p {
    color: #515f67;
}

.testimonials .intro {
    margin-bottom: 35px;
    align-items: center;
}

.testimonials p {
    font-size: 1.75rem;
    font-family: SegoeUI Light;
    font-weight: lighter;
    margin-bottom: 35px;
}

.testimonials a {
    font-size: 0.875rem;
    font-family: SegoeUI Bold;
}
/* END TESTIMONIALS SECTION */

/* CONTACT SECTION */
section.contact {
    background: url(../img/background-images/contact-bg.jpg) no-repeat;
    background-size: 100% 100%;
    padding: 90px 0;
}

.contact .intro {
    margin-bottom: 35px;
}

.form-group {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.form-group:last-child {
    margin-bottom: 0;
}

.form-group label {
    font-size: 0.875rem;
    font-family: SegoeUI Bold;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
}

.form-group input, .form-group textarea {
    background: transparent;
    border: 2px solid #fff;
}

.form-group textarea {
    resize: none;
    width: 100%;
    height: 215px;
}

.contact-top {
    margin-bottom: 40px;
}

.contact-info {
    width: 46%;
}

.contact-info p {
    margin-bottom: 40px;
}

.contact-info ul li {
    color: #fff;
    font-size: 0.875rem;
    font-family: SegoeUI Bold;
}

.submit input {
    padding: 25px 160px;
    width: 370px;
    font-size: 0.875rem;
    font-family: SegoeUI Bold;
    border: none;
    background: #4bcaff;
    color: #fff;
    width: ;
}


/* END CONTACT SECTION */



/* FOOTER SECTION */
footer {
    background: #353f47;
    padding: 80px 0;
}

footer ul {
    width: 290px;
}

footer li, footer p {
    font-size: 0.75rem;
    color: #515f67;
}
/* END FOOTER SECTION */


























/* costumer helper class */
.flex-sb {
    display: flex;
    justify-content: space-between;
}

.active {
    
}

.active a {
    color: #4bcaff;
    padding: 10px 18px;
    box-sizing: border-box;
    border: 2px solid #4bcaff;
}

.filter .active a {
    color: #4bcaff;
}

.col-3 {
    width: 24%;
}

/* SPAN CLASSES */
span.blue-txt {
    color: #4bcaff;
}

span.underline-white {
    border-bottom: 2px solid #fff;
}

span.underline-gray {
    border-bottom: 2px solid #515f67;
}

span.twitter-profile {
    font-weight: bold;
}
/* END SPAN CLASSES*/










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
